testWCFAmbiflux/Service References/ServiceReference1/Ambiflux2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.55.104.238/AmbifluxWcfService/Ambiflux.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AmbifluxWcfService" />
  <xs:element name="GetAllEmployeesMethod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeesMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AmbifluxWcfService" minOccurs="0" name="GetAllEmployeesMethodResult" nillable="true" type="q1:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AmbifluxWcfService" minOccurs="0" name="GetEmployeeByIdResult" nillable="true" type="q2:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AmbifluxWcfService" minOccurs="0" name="GetResourceByIdResult" nillable="true" type="q3:ResourceRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderHeaderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AmbifluxWcfService" minOccurs="0" name="GetOrderHeaderByIdResult" nillable="true" type="q4:OrderHeaderRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSRMA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSRMAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AmbifluxWcfService" minOccurs="0" name="GetSRMAResult" nillable="true" type="q5:SRMARecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewSRMARequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewSRMARequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewSRMARequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>