testWCFAmbiflux/Service References/ServiceReference1/Ambiflux1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AmbifluxWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AmbifluxWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ResourceRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceRecord" nillable="true" type="tns:ResourceRecord" />
  <xs:complexType name="OrderHeaderRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjetDemandeExpress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderHeaderRecord" nillable="true" type="tns:OrderHeaderRecord" />
  <xs:complexType name="SRMARecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mode" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceId" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="Task" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SRMARecord" nillable="true" type="tns:SRMARecord" />
</xs:schema>